body {
  background: #ce8d71;
  margin-top: 100px;
}
.Container {
  border-radius: 15px;
  width: 300px;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  background: #554141bc;
  padding: 20px;
  box-shadow: rgba(231, 222, 222, 0.788) 0px 5px 15px;
}

.Container input {
  cursor: pointer;
  background: #e6aeaeb0;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  padding: 18px;
  border: 2px solid #e6aeaeb0;
  box-shadow: rgba(120, 116, 116, 0.788) 0px 5px 15px;
}
#res {
  width: 99%;
  margin: auto;
  /* border: 2px solid green; */
  border-radius: 10px;
  grid-column: span 4;
  color: rgb(58, 48, 48);
  font-weight: bold;
  font-size: 18px;
  background: #e6aeaeb0;
  padding-top: 15px;
  height: 30px;
  box-shadow:
    rgba(101, 101, 179, 0.25) 0px 50px 100px -20px,
    rgba(73, 66, 66, 0.3) 0px 30px 60px -30px;
}

.Container input:hover {
  box-shadow: rgba(223, 108, 108, 0.723) 0px -50px 36px -28px inset;
  color: rgb(46, 45, 45);
}
